Repository tinovyatkin/amazon-bedrock-copilot-chat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, yamllint, ruff-format, codecov, renovate, actionlint, commitlint-config

typecheck:
  run: bunx tsgo --noEmit

lint:
  run: bunx eslint --cache --fix {staged_files}
  stage_fixed: true

format:
  run: bunx prettier --cache --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx taplo format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

0.1.34
  package.json
Due: format

chore: update config to bump version
  renovate.json
Due: format, renovate

feat: add support for AWS Bedrock Application Inference Profiles
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: use base model ID for token limits and ARN for runtime ID
  src/bedrock-client.ts
  src/provider.ts
  src/types.ts
Due: typecheck, lint, format

fix: use fromIni() for profile credentials instead of profile config
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: recognize application profile IDs and ARNs in resolveModelId
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: pass abortSignal as object to paginateListInferenceProfiles
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: use inferenceProfileId for modelId in application profiles
  src/bedrock-client.ts
Due: typecheck, lint, format

feat: Add support for AWS Bedrock Application Inference Profiles (#20)
  src/bedrock-client.ts
  src/provider.ts
  src/types.ts
Due: typecheck, lint, format

0.2.0
  package.json
Due: format

feat: add support for multiple AWS authentication methods
  src/bedrock-client.ts
  src/commands/manage-settings.ts
  src/extension.ts
  src/provider.ts
  src/test/provider.test.ts
  src/types.ts
Due: typecheck, lint, format

fix: add missing keys() method to mockSecretStorage
  src/test/provider.test.ts
Due: typecheck, lint, format

docs: update README with multiple authentication methods
  README.md
Due: lint, format

fix: add explicit AwsCredentialIdentity type to access-keys credentials
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: only call setProfile when using profile authentication
  src/provider.ts
Due: typecheck, lint, format

fix: prevent credential prompt during active chat session
  src/provider.ts
Due: typecheck, lint, format

refactor: use discriminated union for AuthConfig type safety
  src/types.ts
Due: typecheck, lint, format

chore: prettier --write
  src/types.ts
  vscode.d.ts
Due: typecheck, lint, format

chore: ignore vscode type
  .coderabbit.yaml
  .gitattributes
Due: format, yamllint

feat: add claude command
  .claude/commands/pr-comment.md
  CLAUDE.md
Due: lint, format

fix: markdown lint
  .claude/commands/pr-comment.md
Due: lint, format

feat: add support for multiple AWS authentication methods (#23)
  .claude/commands/pr-comment.md
  .coderabbit.yaml
  .gitattributes
  CLAUDE.md
  README.md
  src/bedrock-client.ts
  src/commands/manage-settings.ts
  src/extension.ts
  src/provider.ts
  src/test/provider.test.ts
  src/types.ts
  vscode.d.ts
Due: typecheck, lint, format, yamllint

0.3.0
  package.json
Due: format

fix: building package on CI
  .github/workflows/ci.yml
  bun.lock
  package.json
Due: format, yamllint, actionlint

0.3.1
  package.json
Due: format

feat: add manual region input prompt
  src/commands/manage-settings.ts
  src/test/manage-settings.integration.test.ts
Due: typecheck, lint, format

fix: add cancellation token support to manual region input
  src/commands/manage-settings.ts
Due: typecheck, lint, format

fix: add AWS region format validation to manual input
  src/commands/manage-settings.ts
Due: typecheck, lint, format

feat: add informational message before manual region input
  src/commands/manage-settings.ts
Due: typecheck, lint, format

fix: retry manual region input on validation errors
  src/commands/manage-settings.ts
Due: typecheck, lint, format

feat: add manual region input prompt (#26)
  src/commands/manage-settings.ts
  src/test/manage-settings.integration.test.ts
Due: typecheck, lint, format

0.3.2
  package.json
Due: format

fix: use ARN for Application Inference Profile model invocation
  src/provider.ts
Due: typecheck, lint, format

fix(provider): refresh model list after deselection and settings changes
  src/extension.ts
  src/provider.ts
Due: typecheck, lint, format

chore: ignore unrelated files
  .vscodeignore
Due: none

chore(provider): add dispose() and register as disposable
  src/extension.ts
  src/provider.ts
Due: typecheck, lint, format

fix(extension): debounce secrets change for provider refresh
  README.md
  src/extension.ts
Due: typecheck, lint, format

chore(provider): implement vscode.Disposable
  src/provider.ts
Due: typecheck, lint, format

fix(extension): cancel secrets debounce on dispose
  src/extension.ts
Due: typecheck, lint, format

fix(provider): refresh model list after deselection and settings changes (#33)
  .vscodeignore
  README.md
  src/extension.ts
  src/provider.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: **/*.ts
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,md,html}
  format: any of: *.{json,jsonc,yaml,yml,md,js,html,ts}
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  ruff-format: any of: **/*.py
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
