Repository tinovyatkin/amazon-bedrock-copilot-chat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, yamllint, ruff-format, codecov, renovate, actionlint, commitlint-config

typecheck:
  run: bunx tsgo --noEmit

lint:
  run: bunx eslint --cache --fix {staged_files}
  stage_fixed: true

format:
  run: bunx prettier --cache --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx taplo format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

ruff-format:
  run: uv tool run ruff format --config pyproject.toml {staged_files}
  stage_fixed: true

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

0.3.3
  package.json
Due: format

feat(ssm): use configured profile/access keys for SSM region fetch
  src/commands/manage-settings.ts
Due: typecheck, lint, format

refactor(ssm): return proper credential provider union for fromIni()
  .github/pr-ssm-creds-body.md
  src/commands/manage-settings.ts
Due: typecheck, lint, format

Use configured profile/access keys for SSM region fetch (#34)
  .github/pr-ssm-creds-body.md
  src/commands/manage-settings.ts
Due: typecheck, lint, format

chore: delete tmp file
  .github/pr-ssm-creds-body.md
Due: lint, format

0.3.4
  package.json
Due: format

fix: build
  bun.lock
  package.json
  src/bedrock-client.ts
  src/provider.ts
  vscode.d.ts
Due: typecheck, lint, format

fix: resolve application inference profile ARNs to base model IDs
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: use ARN for Application Inference Profile model invocation (#28)
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

0.3.5
  package.json
Due: format

chore: update MCPs
  .mcp.json
Due: format

chore: update generated files
  package-lock.json
  vscode.d.ts
Due: lint, format

fix: handle missing permission gracefully
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: handle missing permission gracefully (#76)
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

0.4.0
  package-lock.json
  package.json
Due: format

chore: rename log channel
  src/extension.ts
Due: typecheck, lint, format

fix: fallback to model call
  src/bedrock-client.ts
Due: typecheck, lint, format

0.4.1
  package-lock.json
  package.json
Due: format

feat: use AWS SDK native bearer token support for API key auth
  src/bedrock-client.ts
Due: typecheck, lint, format

chore: format
  src/bedrock-client.ts
Due: typecheck, lint, format

feat: use AWS SDK native bearer token support for API key auth (#77)
  src/bedrock-client.ts
Due: typecheck, lint, format

chore: update renovate config to bump versions
  renovate.json
Due: format, renovate

fix: check inference profile accessibility before use
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: use dedicated testInferenceProfileAccess for profile checks
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: improve error handling in profile accessibility tests
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: add symmetric profile fallback logic
  src/provider.ts
Due: typecheck, lint, format

fix: allow base model fallback in detectAnthropicFallbackModels
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: use AbortSignal instead of AbortController in findAlternativeProfile
  src/provider.ts
Due: typecheck, lint, format

refactor: consolidate access testing logic into shared helper
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: check inference profile accessibility before use (#79)
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

0.5.0
  package-lock.json
  package.json
Due: format

chore: remove temporary files
  TOOL_ERROR_DETECTION_FIX.md
  TOOL_RESULT_DEBUG.md
Due: lint, format

chore: remove temporary file
  test-output.log
Due: none

fix: prevent model selection reset on VS Code restart
  src/extension.ts
  src/provider.ts
Due: typecheck, lint, format

fix: prevent model selection reset on VS Code restart (#82)
  src/extension.ts
  src/provider.ts
Due: typecheck, lint, format

0.5.1
  package-lock.json
  package.json
Due: format

0.5.2
  package-lock.json
  package.json
Due: format

chore: remove package-lock
  .npmrc
  package-lock.json
Due: format

chore: configure vscode bun
  .vscode/settings.json
Due: format

chore: add AGENTS.md
  AGENTS.md
Due: lint, format

Path conditions:
  typecheck: any of: **/*.ts
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,md,html}
  format: any of: *.{json,jsonc,yaml,yml,md,js,html,ts}
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  ruff-format: any of: **/*.py
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
