Repository tinovyatkin/amazon-bedrock-copilot-chat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, yamllint, ruff-format, codecov, renovate, actionlint, commitlint-config

lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    typecheck:
      glob: "**/*.ts"
      run: bunx tsgo --noEmit
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,md,html}"
      run: bunx eslint --cache --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{json,jsonc,yaml,yml,md,js,html,ts}"
      run: bunx prettier --cache --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: bunx taplo format {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    ruff-format:
      glob: "**/*.py"
      run: uv tool run ruff format --config pyproject.toml {staged_files}
      stage_fixed: true
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: bunx commitlint --edit {1}
    "check spelling":
      run: uvx typos {1}

# post-checkout:
#   commands:
#     python-dependencies:
#       glob: "uv.lock"
#       run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    python-dependencies:
      glob: uv.lock
      run: uv sync
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

chore: update CLAUDE.md
  CLAUDE.md
Due: lint, format

chore: update settings
  .mocharc.mjs
  .vscode-test.mjs
Due: lint

feat: add image support
  src/converters/messages.ts
  src/provider.ts
Due: typecheck, lint, format

chore: improve type safety
  eslint.config.mjs
  src/converters/messages.ts
Due: typecheck, lint, format

chore: turn off coderabbit prompt
  .vscode/settings.json
Due: format

0.1.26
  package.json
Due: format

refactor: reduce convertMessages cognitive complexity from 230 to manageable levels
  eslint.config.mjs
  package.json
  src/aws-profiles.ts
  src/converters/messages.ts
Due: typecheck, lint, format

chore: fix eslint
  eslint.config.mjs
Due: lint

fix: remove PII/secrets from logs and prioritize explicit isError flag
  src/converters/messages.ts
Due: typecheck, lint, format

refactor: reduce convertMessages cognitive complexity (#11)
  eslint.config.mjs
  package.json
  src/aws-profiles.ts
  src/converters/messages.ts
Due: typecheck, lint, format

0.1.27
  package.json
Due: format

refactor: enforce logger usage and improve error handling
  eslint.config.mjs
  src/aws-profiles.ts
  src/commands/manage-settings.ts
Due: typecheck, lint, format

chore: consistent-type-imports
  eslint.config.mjs
  src/bedrock-client.ts
  src/converters/messages.ts
  src/converters/tools.ts
  src/provider.ts
  src/stream-processor.ts
  src/validation.ts
Due: typecheck, lint, format

chore: no shadow
  eslint.config.mjs
Due: lint

refactor: reduce cognitive complexity in manage-settings
  src/commands/manage-settings.ts
Due: typecheck, lint, format

fix: make clearAllSettings resilient to partial failures
  src/commands/manage-settings.ts
Due: typecheck, lint, format

fix: pass cancellation token to region picker and handle undefined region
  src/commands/manage-settings.ts
Due: typecheck, lint, format

fix: properly dispose cancellation token after quick pick
  src/commands/manage-settings.ts
Due: typecheck, lint, format

chore: prefer readonly
  eslint.config.mjs
  src/bedrock-client.ts
  src/provider.ts
  src/tool-buffer.ts
Due: typecheck, lint, format

refactor: reduce cognitive complexity in manage-settings (#12)
  eslint.config.mjs
  src/bedrock-client.ts
  src/commands/manage-settings.ts
  src/provider.ts
  src/tool-buffer.ts
Due: typecheck, lint, format

0.1.28
  package.json
Due: format

refactor: reduce cognitive complexity in provideLanguageModelChatResponse
  src/provider.ts
Due: typecheck, lint, format

refactor: reduce cognitive complexity in provideLanguageModelChatResponse (#13)
  src/provider.ts
Due: typecheck, lint, format

0.1.29
  package.json
Due: format

refactor: reduce cognitive complexity in processStream method
  src/stream-processor.ts
Due: typecheck, lint, format

refactor: reduce cognitive complexity in processStream method (#14)
  src/stream-processor.ts
Due: typecheck, lint, format

chore: update eslint config
  eslint.config.mjs
  src/converters/schema.ts
Due: typecheck, lint, format

0.1.30
  package.json
Due: format

feat: filter embedding models using Bedrock API instead of hardcoded patterns
  README.md
  src/bedrock-client.ts
  src/provider.ts
  src/test/bedrock-client.integration.test.ts
Due: typecheck, lint, format

feat: filter embedding models using Bedrock API instead of hardcoded patterns (#15)
  README.md
  src/bedrock-client.ts
  src/provider.ts
  src/test/bedrock-client.integration.test.ts
Due: typecheck, lint, format

0.1.31
  package.json
Due: format

refactor: replace hardcoded modality strings with ModelModality enum
  src/bedrock-client.ts
  src/provider.ts
  src/test/bedrock-client.integration.test.ts
Due: typecheck, lint, format

refactor: replace hardcoded cache point string with CachePointType enum
  src/converters/tools.ts
Due: typecheck, lint, format

chore: use nodeNativeFetch and better retry in aws-sdk clients
  bun.lock
  package.json
  src/bedrock-client.ts
  src/commands/manage-settings.ts
  src/provider.ts
Due: typecheck, lint, format

0.1.32
  package.json
Due: format

refactor: remove unused userAgent parameter from BedrockChatModelProvider
  src/extension.ts
  src/provider.ts
  src/test/provider.test.ts
Due: typecheck, lint, format

refactor: remove fixed enum from bedrock.region setting
  package.json
Due: format

chore: update deps
  bun.lock
  package.json
Due: format

0.1.33
  package.json
Due: format

chore: improve typings
  bun.lock
  src/provider.ts
  src/stream-processor.ts
Due: typecheck, lint, format
