Repository tinovyatkin/amazon-bedrock-copilot-chat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, yamllint, ruff-format, codecov, renovate, actionlint, commitlint-config

lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    typecheck:
      glob: "**/*.ts"
      run: bunx tsgo --noEmit
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,md,html}"
      run: bunx eslint --cache --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{json,jsonc,yaml,yml,md,js,html,ts}"
      run: bunx prettier --cache --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: bunx taplo format {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    ruff-format:
      glob: "**/*.py"
      run: uv tool run ruff format --config pyproject.toml {staged_files}
      stage_fixed: true
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: bunx commitlint --edit {1}
    "check spelling":
      run: uvx typos {1}

# post-checkout:
#   commands:
#     python-dependencies:
#       glob: "uv.lock"
#       run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    python-dependencies:
      glob: uv.lock
      run: uv sync
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

fix: restore Anthropic fallback when listing denied
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: separate fallback base model IDs
  src/bedrock-client.ts
Due: typecheck, lint, format

Fix/fallback listfoundationmodels denied (#83)
  .npmrc
  .vscode/settings.json
  AGENTS.md
  package-lock.json
  src/bedrock-client.ts
Due: typecheck, lint, format

0.5.3
  package.json
Due: format

chore: update lockfile and install frozen
  .github/workflows/release.yml
  bun.lock
Due: format, yamllint, actionlint

fix: always fall back to manual entry when no models accessible
  src/provider.ts
Due: typecheck, lint, format

chore: use custom error for no accessible models
  src/provider.ts
Due: typecheck, lint, format

chore: use custom error for ListFoundationModels denial
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

fix: fallback listfoundationmodels denied (#84)
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

0.5.4
  package.json
Due: format

fix: bun --no-dependencies
  bun.lock
  bunfig.toml
  package.json
Due: format

0.5.5
  package.json
Due: format

fix: --no-dependencies
  .github/workflows/release.yml
  .npmrc
Due: format, yamllint, actionlint

chore: version message
  .npmrc
Due: none

chore: :bookmark: 0.5.6
  package.json
Due: format

feat: support GitHub Copilot's anthropic thinking settings
  README.md
  src/extension.ts
  src/settings.ts
Due: typecheck, lint, format

feat: support GitHub Copilot's anthropic thinking settings (#87)
  README.md
  src/extension.ts
  src/settings.ts
Due: typecheck, lint, format

chore: update vscode.d.ts
  vscode.d.ts
Due: lint, format

chore: :bookmark: 0.5.7
  package.json
Due: format

docs: simplify README
  README.md
Due: lint, format

fix: optimize model validation to avoid expensive API calls
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

feat: sort models by date and exclude deprecated models
  README.md
  src/bedrock-client.ts
  src/provider.ts
  src/types.ts
Due: typecheck, lint, format

perf: optimize model sorting with Map for O(1) lookups
  src/provider.ts
Due: typecheck, lint, format

fix: optimize model validation to avoid expensive API calls (#91)
  README.md
  src/bedrock-client.ts
  src/provider.ts
  src/types.ts
Due: typecheck, lint, format

chore: improve error logging
  src/provider.ts
Due: typecheck, lint, format

fix: validate image mime
  src/converters/messages.ts
Due: typecheck, lint, format

chore: :bookmark: 0.5.8
  package.json
Due: format

chore: :bookmark: 0.5.9
  package.json
Due: format

fix: strip thinking blocks from messages before CountTokens API call
  src/converters/messages.ts
  src/provider.ts
Due: typecheck, lint, format

fix: address PR review comment
  src/converters/messages.ts
  src/test/provider.test.ts
Due: typecheck, lint, format

fix: address PR review comment
  src/test/provider.test.ts
Due: typecheck, lint, format

fix: strip thinking blocks from messages before CountTokens API call (#129)
  src/converters/messages.ts
  src/provider.ts
  src/test/provider.test.ts
Due: typecheck, lint, format

chore: :bookmark: 0.5.10
  package.json
Due: format

fix: use custom signer for Bedrock API key bearer token auth
  src/bedrock-client.ts
Due: typecheck, lint, format

fix: use custom signer for Bedrock API key bearer token auth (#144)
  src/bedrock-client.ts
Due: typecheck, lint, format

chore: :bookmark: 0.5.11
  package.json
Due: format

chore: correct Anthropic context sizes
  src/profiles.ts
Due: typecheck, lint, format
