Repository tinovyatkin/amazon-bedrock-copilot-chat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, taplo, yamllint, ruff-format, codecov, renovate, actionlint, commitlint-config

lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    typecheck:
      glob: "**/*.ts"
      run: bunx tsgo --noEmit
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,md,html}"
      run: bunx eslint --cache --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{json,jsonc,yaml,yml,md,js,html,ts}"
      run: bunx prettier --cache --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: bunx taplo format {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    ruff-format:
      glob: "**/*.py"
      run: uv tool run ruff format --config pyproject.toml {staged_files}
      stage_fixed: true
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: bunx commitlint --edit {1}
    "check spelling":
      run: uvx typos {1}

# post-checkout:
#   commands:
#     python-dependencies:
#       glob: "uv.lock"
#       run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    python-dependencies:
      glob: uv.lock
      run: uv sync
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

chore: :bookmark: 0.5.12
  package.json
Due: format

fix: lint
  .vscode/settings.json
  eslint.config.mjs
  src/profiles.ts
  vscode.d.ts
Due: typecheck, lint, format

fix: respect sdk_ua_app_id from profiles
  CHANGELOG.md
  src/aws-profiles.ts
  src/bedrock-client.ts
  src/commands/manage-settings.ts
  src/test/aws-profiles.test.ts
Due: typecheck, lint, format

chore: :bookmark: 0.5.13
  package.json
Due: format

feat: add thinking effort control for Claude Opus 4.5
  .vscode/mcp.json
  CHANGELOG.md
  README.md
  package.json
  src/profiles.ts
  src/provider.ts
  src/settings.ts
Due: typecheck, lint, format

chore: :bookmark: 0.6.0
  package.json
Due: format

fix: address PR review comments
  .vscode/mcp.json
  src/provider.ts
Due: typecheck, lint, format

fix: validate thinking.effort config value
  src/settings.ts
Due: typecheck, lint, format

fix: add AWS GovCloud and China region support
  CHANGELOG.md
  GOVCLOUD-COMPATIBILITY.md
  README.md
  src/__tests__/aws-partition.test.ts
  src/aws-partition.ts
  src/bedrock-client.ts
  src/provider.ts
Due: typecheck, lint, format

chore: :bookmark: 0.6.1
  package.json
Due: format

fix: handle global inference profile prefix in model normalization
  src/profiles.ts
Due: typecheck, lint, format

refactor: extract normalizeModelId helper function
  src/profiles.ts
Due: typecheck, lint, format

chore: :bookmark: 0.6.2
  package.json
Due: format

chore: :bookmark: 0.6.3
  package.json
Due: format

chore: update vscode types
  vscode.d.ts
Due: lint, format

chore: :bookmark: 0.6.4
  package.json
Due: format

fix: disable extended thinking when conversation history lacks thinking blocks
  src/converters/messages.ts
  src/provider.ts
Due: typecheck, lint, format

fix: clear stale thinking block when disabling extended thinking
  src/provider.ts
Due: typecheck, lint, format

fix: disable extended thinking when conversation history lacks thinking blocks (#248)
  src/converters/messages.ts
  src/provider.ts
Due: typecheck, lint, format

chore: :bookmark: 0.6.5
  package.json
Due: format

chore: :bookmark: 0.6.6
  package.json
Due: format

feat: add Claude Opus 4.6 model support
  src/bedrock-client.ts
  src/profiles.ts
Due: typecheck, lint, format

feat: add Claude Opus 4.6 model support (#292)
  src/bedrock-client.ts
  src/profiles.ts
Due: typecheck, lint, format

chore: update changelog
  CHANGELOG.md
Due: lint, format

chore: :bookmark: 0.7.0
  package.json
Due: format

fix: update typescript-eslint to support ESLint 10 and fix new lint errors
  bun.lock
  package.json
  src/provider.ts
Due: typecheck, lint, format

feat: add Claude Sonnet 4.6 support
  CHANGELOG.md
  README.md
  package.json
  src/bedrock-client.ts
  src/profiles.ts
  src/provider.ts
  src/settings.ts
Due: typecheck, lint, format

feat: add Claude Sonnet 4.6 support (#344)
  CHANGELOG.md
  README.md
  bun.lock
  package.json
  src/bedrock-client.ts
  src/profiles.ts
  src/provider.ts
  src/settings.ts
Due: typecheck, lint, format

chore: :bookmark: 0.8.0
  package.json
Due: format
